<div  class="col-lg-6 col-md-6 col-sm-12 col-xs-12 offset-lg-3 offset-md-3" style="margin-top:5em">
    <!-- manifest of the directive -->
    <contact-card first="user.name" last="user.lastname" atstart="expand" body-clicked="user_submit()">
        <!-- this is where the template will appear in case of false -->
    </contact-card>
</div>