<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 offset-lg-3 offset-md-3" style="margin-top:5em">
    <div class="form-group">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text">Search</span>
            </div>
            <input ng-model="searchPhrase" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Speaker</th>
            <th scope="col">Mode</th>
            <th scope="col">Duration</th>
            <th scope="col">Level</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="c in courses | likely: searchPhrase">
            <th scope="row">{{c.id}}</th>
            <th scope="row">{{c.title}}</th>
            <th scope="row">{{c.speaker}}</th>
            <th scope="row">{{c.mode}}</th>
            <th scope="row">{{c.duration}}</th>
            <th scope="row">{{c.level}}</th>
          </tr>
        </tbody>
      </table> 
</div>