<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 offset-lg-3 offset-md-3" style="margin-top:5em">
    <form>
        <fieldset>
        <legend>Login</legend>
      
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input ng-model="user.email"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ng-class="{true:'is-invalid'}[validationErr==true]">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input ng-model="user.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group" ng-show="validationErr==true">
            <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Warning!</h4>
                <p class="mb-0">Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
              </div>
        </div>
        <button ng-click="login()" type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>
</div>